@model IEnumerable<Aj678815MIS4200.Models.AppointmentDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pet.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtyVisits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appiontmentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pet.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtyVisits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appiontmentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appointmentDetailsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.appointmentDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appointmentDetailsId })
        </td>
    </tr>
}

</table>
